// переменные
@import "var";

// миксины
@import "mixin";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    min-height: 100vh;
}
body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
}
.visually-hidden {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(1px, 1px, 1px, 1px);
}
.wrap {
    width: 1140px;
    margin: 0 auto;
}
@media (max-width: $tablet-breakpoint) {
.wrap {
    width: 736px;
    }
}
@media (max-width: $mobile-breakpoint){
.wrap {
    width: 359px;
    }
}
// шапка

@import "blocks/header";

.main-nav {
    background-color: #FFFFFF;
    position: absolute;
    top: 78px;
    right: 0px;
    height: 764px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: 232px;
    padding: 37px 34px;
    // padding-top: 37px;
    // padding-left: 34px;
    box-sizing: border-box;
}
.main-nav_close {
    display: none;
}
.main-nav-box {
    position: relative;
}
.main-nav-close {
    position: absolute;
    top: -16px;
    right: -16px;
    border: none;
    background-color: transparent;
}
.main-nav-titel {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-bottom: 24px;
}
.main-nav-list {
    list-style-type: none;
}

// .main-nav-item {
//     margin-bottom: 20px;
// }

.submenu-list {
    padding-left: 22px;
    padding-bottom: 20px;
    // padding-top: 11px;
}

.main-nav-link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: $font-size - 2;
    line-height: 17px;
    color: #F16D7F;

}


.submenu-list {
    list-style-type: none;
}
.submenu-item {
    padding-top: 11px;
}
.submenu-link {
    text-decoration: none;
    font-size: $font-size - 2;
    line-height: 17px;
    color: #6F6E6E;
    // padding-top: 11px;
}


// главное на странице

.main {
    flex-grow: 2;
}

// промоакции

@import "blocks/promo";



// категории товара

@import "blocks/categories";



// предложение 

@import "blocks/offer";


// преимущества

@import "blocks/advantages";


// обратная связь

@import "blocks/feedback";


// подвал

@import "blocks/footer";


/* каталог promo */

@import "blocks/promo-catalog";

// предложение товаров каталог

@import "blocks/offer-catalog";


// слайдер product




.slider {
    background-color: #F7F7F7;
    border-top: 1px solid rgba(234, 234, 234, 1);
    border-bottom: 1px solid rgba(234, 234, 234, 1);
    &-wrap {
        width: 100%;
        @include flex-between;
        align-items: center;
    
        padding-bottom: $shift;
    }
    &-btn {
        width: 47px;
        height: 47px;
        background-color: rgba(42, 42, 42, 0.15);
        border: transparent;
        @include flex-argument(flex, center);
        align-items: center;
        fill: black;
        transition: fill 0,3s;
        transition: transform 1s;
        &:hover {
            fill: $main-color;
            transform: scale(1.2);
        }
    }
}
	


// описание товара product-description

@import "blocks/description";
