// переменные
@import "var";

// миксины
@import "mixin";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    min-height: 100vh;
}
body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
}
.visually-hidden {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(1px, 1px, 1px, 1px);
}
.wrap {
    width: 1140px;
    margin: 0 auto;
}

// шапка

@import "blocks/header";

// главное на странице

.main {
    flex-grow: 2;
}

// промоакции

@import "blocks/promo";



// категории товара

@import "blocks/categories";



// предложение 

@import "blocks/offer";


// преимущества

@import "blocks/advantages";


// обратная связь

@import "blocks/feedback";


// подвал

@import "blocks/footer";


/* каталог promo */

@import "blocks/promo-catalog";

// предложение товаров каталог

@import "blocks/offer-catalog";


// слайдер




.slider {
    background-color: #F7F7F7;
    border-top: 1px solid rgba(234, 234, 234, 1);
    border-bottom: 1px solid rgba(234, 234, 234, 1);
    &-wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        padding-bottom: $shift;
    }
    &-btn {
        width: 47px;
        height: 47px;
        background-color: rgba(42, 42, 42, 0.15);
        border: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: black;
        &:hover {
            fill: $main-color;
        }
    }
}
	


// описание товара

.description-wrap {
	background-color:  #FFFFFF;
    border: 1px solid rgba(234, 234, 234, 1);
	margin-top: -$shift;
}

.hr-color-top {
    width: 63px;
    height: 3px;
    border: none;
    background-color: #EF5B70;
    color: #EF5B70;

}
.hr-color-bottom {
    width: 642px;
    height: 1px;
    border: none;
    background-color: #EAEAEA;
    color: #EAEAEA;
}
