@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

body {
  font-family: 'Lato', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.visually-hidden {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.wrap {
  width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: black;
  color: white;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.header-col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-link {
  text-decoration: none;
  color: transparent;
  margin-right: 41px;
}

.button-search, .button-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  fill: #E8E8E8;
}

.button-search:hover, .button-menu:hover {
  fill: #FF6A6A;
}

.header-col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.register-link, .crate-link {
  text-decoration: none;
  color: transparent;
  fill: #E8E8E8;
}

.register-link:hover, .crate-link:hover {
  fill: #FF6A6A;
}

.register-link {
  margin-left: 33px;
  margin-right: 33px;
}

.main {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.promo {
  background-color: #F1E4E6;
}

.promo-wrap {
  height: 764px;
  background-image: url(../img/promo-picture.png);
  background-repeat: no-repeat;
  background-position-x: -225px;
  background-position-y: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.promo-title {
  font-weight: 900;
  font-size: 48px;
  line-height: 36px;
  color: #222222;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-right: 90px;
}

.promo-title-small {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.promo-title-pink {
  color: #F16D7F;
}

.categories {
  padding-top: 65px;
  padding-bottom: 96px;
}

.categories-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories-cardbox {
  background: #C4C4C4;
  width: 360px;
  height: 260px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories-cardbox-woman {
  background-image: url(../img/card-women.jpg);
}

.categories-cardbox-man {
  background-image: url(../img/card-men.jpg);
}

.categories-cardbox-kids {
  background-image: url(../img/card-kids.jpg);
}

.categories-cardbox-acc {
  margin-top: 30px;
  width: 100%;
  height: 180px;
  background-image: url(../img/card-accessories.jpg);
}

.categories-offer {
  font-size: 16px;
  line-height: 19px;
  /*text-align: center;*/
  color: #FFFFFF;
}

.categories-name {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.offer {
  margin-bottom: 95px;
}

.offer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  display: block;
}

.offer-title {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.offer-text {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  padding-bottom: 48px;
}

.offer-cardbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 48px;
  list-style-type: none;
  gap: 30px;
}

.offer-card {
  Width: 360px;
  height: 581px;
  background: #F8F8F8;
}

.video {
  width: 360px;
  height: 420px;
  background-color: black;
}

.offer-card-title {
  padding-top: 25px;
  padding-left: 18px;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-align: start;
}

.offer-card-text {
  padding-top: 13px;
  padding-left: 18px;
  padding-right: 29px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  text-align: start;
}

.offer-card-textpink {
  padding-top: 18px;
  padding-left: 18px;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  text-align: start;
}

.offer-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer-catalog-link {
  width: 212px;
  height: 48px;
  background-color: #FFFFFF;
  text-decoration: none;
  border: 1px solid #F16D7F;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer-catalog-link:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
}

.advantages {
  background: #222224;
}

.advantages-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages-box {
  margin-top: 103px;
  text-align: center;
  padding-top: 60px;
}

.advantages-box-delivery {
  background-image: url(../img/img-delivery.svg);
  background-repeat: no-repeat;
  background-position-x: center;
}

.advantages-box-sale {
  background-image: url(../img/img-sales.svg);
  background-repeat: no-repeat;
  background-position-x: center;
}

.advantages-box-assurance {
  background-image: url(../img/img-assurance.svg);
  background-repeat: no-repeat;
  background-position-x: center;
}

.advantages-delivery-title, .advantages-sales-title, .advantages-assurance-title {
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  padding-top: 28px;
}

.advantages-delivery-text, .advantages-sales-text, .advantages-assurance-text {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  color: #FBFBFB;
  padding: 16px 35px 104px;
}

.feedback {
  /*height: 448px; */
  background-image: url(../img/img-feedback-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
}

.feedback-wrap {
  height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback-reviews {
  width: 360px;
  text-align: center;
  padding-top: 97px;
}

.feedback-reviews-text {
  font-size: 20px;
  line-height: 24px;
  color: #222224;
  padding-top: 30px;
}

.feedback-subscribe {
  width: 557px;
  text-align: center;
}

.feedback-subscribe-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  color: #222224;
  padding-top: 150px;
}

.feedback-subscribe-text {
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 39px;
}

.form-field {
  width: 256px;
  height: 49px;
  font-size: 14px;
  line-height: 17px;
  background: #E1E1E1;
  color: #222224;
  padding: 7px 64px 6px 22px;
  border-radius: 30px 0px 0px 30px;
  border: none;
}

.form-fielde::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.form-fielde:-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.form-fielde::-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.form-fielde::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.form-button {
  width: 100px;
  height: 49px;
  cursor: pointer;
  background: #F16D7F;
  color: #FFFFFF;
  border-radius: 0px 30px 30px 0px;
  padding: 7px 7px 6px 8px;
  border: none;
}

.footer {
  background: #222224;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-title {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
  padding-bottom: 23px;
  list-style-type: none;
}

.social-button {
  padding-left: 7px;
}

.social-link {
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  text-decoration: none;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-link:hover {
  background: #F16D7F;
  color: #FFFFFF;
}

/* каталог promo */
.promo-catalog {
  background-color: #F8F3F4;
}

.promo-catalog-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-title {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  padding-top: 59px;
  padding-bottom: 60px;
}

.breadcrumbs-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.breadcrumbs-item::before {
  content: '/';
}

.breadcrumbs-item:first-child::before {
  display: none;
}

.breadcrumbs-link {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.breadcrumbs-link-current {
  font-weight: bold;
  color: #F16D7F;
  padding-right: 5px;
}

.breadcrumbs-link:hover {
  /* text-decoration: underline; */
  color: #F16D7F;
}

/* offer-catalog */
.offer-catalog-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 16px;
  margin-top: 51px;
  margin-bottom: 64px;
}

.offer-catalog-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-list {
  background-color: transparent;
  border: none;
  /* width: 70px;
    height: 18px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  fill: black;
}

.filter-svg {
  padding-left: 9px;
}

.filter-list:hover {
  color: #EF5B70;
  fill: #EF5B70;
}

.strainer-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 304px;
  gap: 28px;
}

.strainer-button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  fill: #6F6E6E;
}

.sign-svg {
  margin-left: 10px;
}

.strainer-button:hover {
  /* text-decoration: underline; */
  color: #F16D7F;
  fill: #F16D7F;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -25px;
}

.pagination-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  padding: 12px 15px 13px 15px;
}

.pagination-item--separator {
  margin: 0 -20px;
  color: #C4C4C4;
}

.pagination-link {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
  fill: black;
}

.pagination-link:hover {
  color: #EF5B70;
  fill: #EF5B70;
}
/*# sourceMappingURL=style.css.map */