// переменные
@import "var";

// миксины
@import "mixin";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    min-height: 100vh;
}
body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
}
.visually-hidden {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(1px, 1px, 1px, 1px);
}
.wrap {
    width: 1140px;
    margin: 0 auto;
}

// шапка

@import "blocks/header";

// главное на странице

.main {
    flex-grow: 2;
}

// промоакции

@import "blocks/promo";



// категории товара

@import "blocks/categories";



// предложение 

@import "blocks/offer";


// преимущества

@import "blocks/advantages";


// обратная связь

@import "blocks/feedback";


// подвал

@import "blocks/footer";


/* каталог promo */

@import "blocks/promo-catalog";

// предложение товаров каталог

@import "blocks/offer-catalog";


// слайдер




.slider {
    background-color: #F7F7F7;
    border-top: 1px solid rgba(234, 234, 234, 1);
    border-bottom: 1px solid rgba(234, 234, 234, 1);
    &-wrap {
        width: 100%;
        @include flex-between;
        align-items: center;
    
        padding-bottom: $shift;
    }
    &-btn {
        width: 47px;
        height: 47px;
        background-color: rgba(42, 42, 42, 0.15);
        border: transparent;
        @include flex-argument(flex, center);
        align-items: center;
        fill: black;
        transition: fill 0,3s;
        transition: transform 1s;
        &:hover {
            fill: $main-color;
            transform: scale(1.2);
        }
    }
}
	


// описание товара

.description {
    margin-bottom: 128px;
    &-wrap {
        background-color:  #FFFFFF;
        border: 1px solid rgba(234, 234, 234, 1);
        margin-top: -$shift;
        padding-bottom: 64px;
    }
    &-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &-titel {
        font-weight: 300;
        font-size: $font-size - 2;
        line-height: 17px;
        color: $main-color;
        padding-top: 64px;
        padding-bottom: 12px;
        &-product {
            font-weight: 300;
            font-size: $font-size + 2;
            line-height: 22px;
            color: #4D4D4D;
            padding-top: 12px;
            padding-bottom: 48px;
        }
    }
    &-text {
        width: 555px;
        height: 51px;
        font-weight: 300;
        font-size: $font-size - 2;
        line-height: 17px;
        color: #5E5E5E;
    }
    &-price {
        font-weight: 300;
        font-size: $font-size + 8;
        line-height: 29px;
        color: #EF5B70;
        padding-top: 32px;
        padding-bottom: 64px;
    }
}

.hr-color-top {
    width: 63px;
    height: 3px;
    border: none;
    background-color: #EF5B70;
    color: #EF5B70;

}
.hr-color-bottom {
    width: 642px;
    height: 1px;
    border: none;
    background-color: #EAEAEA;
    color: #EAEAEA;
}

.description-strainer {
    margin-top: 64px;
    &-list {
        list-style-type: none;
        @include flex-argument(flex, center);
        align-items: center;
        gap: 23px;
    }
    &-button {
        text-decoration: none;
        background-color: transparent;
        border: none;
        font-size: $font-size - 2;
        line-height: 17px;
        color: #6F6E6E;
        fill: #6F6E6E;
        padding-top: 48px;
        padding-bottom: 64px;
        cursor: pointer;
        @include transition-button-fill;
       
        &:hover {
            color: $main-color;
            fill: $main-color;
         
        }
    }
}

.description-sign-svg {
    margin-left: 9px;
}

.description-cart {
    @include flex-argument(flex, center);
    align-items: center;
    text-align: center;
    &-link {
        background-color: #FFFFFF;
        text-decoration: none;
        border: 1px solid #F26376;
        font-size: $font-size;
        line-height: 19px;
        color: #F26376;
        padding: 15px 57px 9px 24px;
        @include flex-argument(flex, left);
        align-items: center;
        fill: #EF5B70;
        gap: 23px;
        @include transition-button;
        &:hover {
            color: #FFFFFF;
            background-color: $main-color;
            fill: #FFFFFF;
            border: 1px solid $main-color;
            // box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);

        }
    } 
}
